<h1>Log In to the Quiz App</h1>
<%= form_tag '/login', method: :post do %>
  <label>Email: </label><%= text_field_tag :email %>
  <label>Password: </label><%= text_field_tag :password %>
  <%= submit_tag 'login' %>
<% end %>