<h1>Manufacturers</h1>

<ul>
  <% @manufacturers.each do |manufacturer| %>
    <li class = "<%= "domestic_#{manufacturer.domestic}" %>"><%= link_to manufacturer.name, manufacturer_path(manufacturer) %></li>
  <% end %>
</ul>

<p><%= link_to "New Manufacturer", new_manufacturer_path %></p>
<p><div id="show_domestic">Show Domestic</div></p>
<p><div id="show_foreign">Show Foreign</div></p>
<p><div id="show_all">Show All</div></p>